.gallery {
    margin: auto;
    width: 80%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .column {
    flex-basis: calc(33.33% - 10px);
    position: relative;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  .column img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .column:hover .overlay {
    opacity: 1;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  .modal-content {
    display: block;
    margin: auto;
    width: 80%;
    max-width: 700px;
    max-height: 80%;
  }
  
  .modal-content img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  
  .close:hover {
    color: #999;
  }